@page "/login"
@inject ApiService ApiService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Characters</PageTitle>

<div>
    @if (tokens is not null)
    {
        <p>Logged in.</p>
    }
    else
    {
        <h1> Login</h1>

        <EditForm Model=@user OnValidSubmit="@Submit" FormName="Login" >
            <DataAnnotationsValidator />
            <FluentValidationSummary />
            <FluentStack Orientation="Orientation.Vertical">
                <div>
                    <FluentTextField Name="Email" Appearance="FluentInputAppearance.Filled" Label="Email" @bind-Value="user.Email" Required />
                </div>
                <div>
                     <FluentTextField Name="Password" Appearance="FluentInputAppearance.Filled" Label="Password" @bind-Value="user.PasswordHash" Required />
                </div>
                <div>
                    <FluentButton Type="ButtonType.Submit" Appearance="Appearance.Accent">Submit</FluentButton>
                </div>
            </FluentStack>
        </EditForm>
    }
</div>


@code {
    IdentityUser user = new IdentityUser();
    bool? tokens;
    async Task Submit()
    {
        tokens = await ApiService.Login(user);
        StateHasChanged();
    }
}