@page "/characters/add"
@inject ApiService ApiService
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Characters</PageTitle>

<div>
    @if (AddedCharacterId != -1)
    {
        <p>The ID of your added character is: @AddedCharacterId</p>
    }
    else
    {
        <h1> Enter Character Details</h1>

        <EditForm Model=@character OnValidSubmit="@Submit" FormName="AddCharacter">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div>
                <label for="Name">Name</label>
                <InputText id="Name" @bind-Value="character.Name" />
            </div>
            <div>
                <label for="Class">Class</label>
                <InputText id="Class" @bind-Value="character.Class" />
            </div>
            <div>
                <label for="HitPoints">HP</label>
                <InputNumber id="HitPoints" @bind-Value="character.HitPoints" />
            </div>
            <div>
                <label for="Strength">Strength</label>
                <InputNumber id="Strength" @bind-Value="character.Strength" />
            </div>
            <div>
                <label for="Defense">Defense</label>
                <InputNumber id="Defense" @bind-Value="character.Defense" />
            </div>
            <div>
                <label for="Intelligence">Intelligence</label>
                <InputNumber id="Intelligence" @bind-Value="character.Intelligence" />
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </EditForm>
    }
</div>


@code {
    Character character = new Character();
    int AddedCharacterId = -1;
    async Task Submit()
    {
        AddedCharacterId = await ApiService.AddCharacter(character);
        StateHasChanged();
    }
}