@page "/characters/delete"
@inject HttpClient Http
@inject ApiService ApiService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
<PageTitle>Characters</PageTitle>

@if (success.HasValue && success.Value)
{
    <p>Deleted character @selectedId successfully.</p>
}
else if (!success.HasValue)
{
    <div style="display: flex; align-items: center;">
        <p>Enter Character Id to Delete Character</p>
    </div>
    <div style="display: flex; align-items: center;">
        <FluentNumberField Autofocus=true Name="Character ID" Label="ID: " @bind-Value="selectedId" Style="margin-right: 20px" Required  />
        <FluentButton @onclick="() => DeleteSelectedCharacter()">Delete Character</FluentButton>
    </div>
    
}
else
{
    <p>@error</p>
}

@code {
    public bool? success;
    private int selectedId = 0;
    private string? error;
    private async void DeleteSelectedCharacter()
    {
        Console.WriteLine("DeleteCharacterAsync()");
        try
        {
            // Debugging: Print selectedId to console
            Console.WriteLine($"Selected Id: {selectedId}");
            await ApiService.DeleteCharacter(selectedId);
            success = true;
        }
        catch (Exception ex)
        {
            error = ex.Message;
            // Debugging: Print any exception to the console
            Console.WriteLine($"Error: {ex.Message}");
            success = false;
        }
        StateHasChanged();
    }
}
